#registerpage{
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

#registerForm{
    border-radius: 15px;
    background-color: #F1F1E6;
    height: 60vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo-box{
    justify-content: center;
    height: 20vh;
}

.input-box{
    width: 40vh;
}

.details{
 color: black;
}

::placeholder {
    color: #222222;
  }

.input-box input{
    margin-top: 5px;
    margin-bottom: 10px;
    height: 35px;
    background-color: white;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 2px solid black;
    padding-left: 15px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.input-box input::before{
    content:'';
    position:absolute;
    top:-130px;
    margin:auto;
    display:block;
    border-radius:50%;
    width:300px;
    height:300px;
    left:-75px;
    -webkit-transition:box-shadow .6s ease-in-out;
    transition:box-shadow .6s ease-in-out;
    z-index:-1;
   
  }

.input-box input:focus{
    background-color: #225a8b;
    transition: ease-in-out;
    color: white;
}

.input-box input:focus::placeholder{
    color: white;
}